a {
    text-decoration: none;
    color:white;
    margin-right: 10px;
    font-size: 17px;
}

a > :hover {
    color:blue;
}

.nav-box {
    background-color: #394dfc;
}

.navbar-container {
    margin-left: 20%;
    word-spacing: 20%;
}

.search-btn {
    margin-left: 5px;
}

.search-container {
    padding-top: 3px;
    margin-left: 30px;
    border-radius: 8px;
}

.navbar-brand {
margin-left: auto;
color: white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 30px;
}

.logout-btn {
    color: black;
    margin-left: 120px;
    border: none;
}

.nav-link:hover {
        color: yellow;
        padding: 0px;
        transition: none;
        border-radius: 5px;
        position: relative;
        transition: color 0.3s;
}

.nav-link {
    color:white;
}


